#root {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  /* border: solid 1px red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray-primary);
  --gray-primary: #ececec;
  --gray-02: #c1c1c1;
  --gray-03: #dedede;
  --gray-04: #2b2b2b;
  --yellow-primary: #fca311;
}

body {
  background-color: var(--gray-primary);
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.text-yellow {
  color: var(--yellow-primary);
}

.header-container {
  padding: 1em;
  background-color: var(--gray-primary);
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1em 10em;
}

.header-shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.header-content {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: inherit;
  justify-content: space-between;
}

.logo {
  height: 3rem;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  font-weight: 800;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  margin: 0;
  font-size: 2rem;
}

.tablet-nav {
  display: none;
}

.desktop-nav {
  display: block;
}

/* Heading */

.intro {
  background: url("/src/assets/landing.png") no-repeat bottom right;
  height: 100vh;
  display: flex;
  align-items: center;
}

.group-indicator {
  font-family: "Bebas Neue", cursive;
  font-size: 10rem;
  width: 40rem;
  align-self: center;
  position: absolute;
  transform: rotate(-90deg);
  color: var(--gray-03);
  margin-left: -1em;
}

.text-container {
  width: 16rem;
  text-align: left;
  margin-left: 10em;
  position: absolute;
}

.text-container h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0;
}

.text-container h2 {
  margin-top: 0;
  font-weight: 800;
}

.text-container span {
  color: var(--yellow-primary);
}

.h-line {
  width: 5rem;
  height: 2px;
  background-color: var(--yellow-primary);
}

.socials-text {
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.socials-text a {
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* Button styles */

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: var(--yellow-primary);
  border: 3px solid #fca311;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.btn:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-primary);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

/* ABOUT-ME CONTAINER */

.about-me-container {
  background-color: var(--gray-02);
  height: 80vh;
  display: flex;
}

.section-content {
  width: 100vw;
  padding-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-text {
  font-size: 1.3rem;
  max-width: 30em;
}

.cards-container {
  display: flex;
  padding: 0 20px;
  top: -15rem;
  position: relative;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 30rem;
  height: fit-content;
  background-color: var(--gray-04);
  border-radius: 5px;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  color: white;
  margin-bottom: 0;
}

.card h3 {
  margin-bottom: 0;
}

.icon-container {
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.tools-list {
  line-height: 2rem;
}

/* Portfolio */

.portfolio-container {
  height: 100vh;
  position: relative;
  top: -15rem;
  display: flex;
}

.work-filters {
  display: flex;
  width: 40rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .header-container {
    padding: 1em 2em;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .header-container {
    padding: 1em;
    background-color: var(--gray-primary);
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    padding: 1em 2em;
  }

  .tablet-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

  .header-nav {
    display: flex;
    padding: 0;
    gap: 0rem;
    font-weight: 800;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  .nav-menu {
  }
  /* Drawer */

  .drawer {
    display: flex;
    gap: 20px;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    width: 10em;
    background-color: #ececec;
    padding: 1em 0;
    flex-direction: column;
  }

  .drawer-closed {
    transform: translate3d(-1000px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    opacity: 0;
  }

  .drawer-open {
    transform: translate3d(0px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    opacity: 1;
  }

  .opacity {
    opacity: 1;
    transform: translateX(0%);
    background: rgba(0, 0, 0, 0.4984);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
  }
  /* 
  .contact-btn-mobile {
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px var(--gray-02);
    align-items: center;
    justify-content: center;
    color: var(--yellow-primary);
    border: 3px solid #fca311;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
  }

  .contact-btn-mobile:hover {
    color: #fff;
  }

  .contact-btn-mobile::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yellow-primary);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
  }

  .contact-btn-mobile:hover::before {
    transform: translateX(0);
  } */

  .drawer li {
    display: flex;
    width: 100%;
    height: 3rem;
    /* padding: 3px; */
    /* align-self: center; */
    border-bottom: solid 1px var(--gray-02);
    align-items: center;
    justify-content: center;
  }

  .intro {
    background: url("/src/assets/landing.png") no-repeat bottom right;
    height: 100vh;
    display: flex;
    align-items: center;
    background-position-x: -33rem;
    background-position-y: 0;
  }

  .group-indicator {
    display: none;
  }

  .text-container {
    margin-left: 6em;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .about-me-container {
    height: 95vh;
    justify-content: center;
  }

  .section-content {
    width: 80%;
  }

  .work-filters {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-weight: 700;
  }

  .portfolio-container {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}

/* mobile */

@media (max-width: 425px) {
  .intro {
    background: none;
    height: 100vh;
    display: flex;
    align-items: center;
    background-position-x: -33rem;
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .text-container h1 {
    text-align: left;
  }

  .about-me-container {
    height: 107vh;
  }
}
