@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  /* border: solid 1px red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray-primary);
  --gray-primary: #ececec;
  --gray-02: #c1c1c1;
  --gray-03: #dedede;
  --gray-04: #2b2b2b;
  --yellow-primary: #fca311;
}

.navbar-container {
  padding: 1em;
  background-color: var(--gray-primary);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  flex-direction: column;
  padding: 1em 10em;
}

.navbar-shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navbar-content {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: inherit;
  justify-content: space-between;
}

.logo {
  height: 3rem;
  cursor: pointer;
}

.drawer {
  display: none;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  font-weight: 800;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.tablet-nav {
  display: none;
}

.desktop-nav {
  display: block;
}

/* Button styles */

.btn {
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.btn:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-primary);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.btn:disabled {
  opacity: 50%;
  color: white;
  cursor: auto;
}

.btn:disabled:hover:before {
  transform: translateX(-100%);
}

/* ABOUT-ME CONTAINER */

@media (max-width: 1024px) {
  .navbar-container {
    padding: 1em 2em;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .navbar-container {
    padding: 1em;
    background-color: var(--gray-primary);
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    padding: 1em 2em;
  }

  .tablet-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

  .header-nav {
    display: flex;
    padding: 0;
    gap: 0rem;
    font-weight: 800;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

  .nav-menu {
    border: none;
  }

  /* Drawer */

  .drawer {
    display: flex;
    top: 80px;
    height: 100vh;
    position: fixed;
    width: 10em;
    background-color: #ececec;
    flex-direction: column;
    z-index: 1200;
  }

  .drawer-closed {
    transform: translate3d(-1000px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    opacity: 0;
  }

  .drawer-open {
    transform: translate3d(0px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    opacity: 1;
  }

  .drawer li {
    display: flex;
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px var(--gray-02);
    align-items: center;
    justify-content: center;
  }
}
