.header-container {
  padding: 1em;
  background-color: #faf8f0;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}

.header-content {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: inherit;
  justify-content: space-between;
}

.logo {
  height: 3rem;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.header-nav a {
  text-decoration: none;
}
