@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  margin: 0;
}

.header-container {
  padding: 1em;
  background-color: #ececec;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1em 10em;
}

.header-content {
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: inherit;
  justify-content: space-between;
}

.logo {
  height: 3rem;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  font-weight: 800;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

/* Body */

.container {
  margin-top: 3rem;
}

.intro {
  background: url("/src/assets/landing.png") no-repeat center right;
  height: 100vh;
  right: 0;
}
